fastapi==0.63.0
importlib-metadata==3.4.0
motor==2.3.1
odmantic~=0.3.3
orjson==3.4.8
pydantic==1.7.3
pymongo==3.11.3
starlette==0.13.6
typing-extensions==3.7.4.3
zipp==3.4.0
uvicorn==0.13.3
datumaro~=0.1.6.1
aenum~=3.0.0
boto3~=1.16.52
python-dotenv~=0.15.0
s3fs~=0.4.2
cloudpickle~=1.6.0

aioboto3~=8.2.1
jmespath~=0.10.0
dnspython~=2.1.0
idna~=2.10
cryptography~=3.4.5
future~=0.18.2
cffi~=1.14.5
Pillow~=8.1.0
numpy~=1.20.1
botocore~=1.19.52
fsspec~=0.8.5
s3transfer~=0.3.4
aiohttp~=3.7.4.post0
urllib3~=1.26.3
six~=1.15.0
python-dateutil~=2.8.1

redis~=4.2.2
rq~=1.10.1
requests~=2.25.1
dask~=2021.4.0
distributed~=2021.4.0
certifi~=2020.12.5
