fastapi==0.63.0
importlib-metadata==3.4.0
motor==2.3.1
odmantic~=0.3.3
orjson==3.4.8
pydantic==1.7.3
pymongo==3.11.3
starlette==0.13.6
typing-extensions==3.7.4.3
zipp==3.4.0
uvicorn==0.13.3
datumaro~=0.1.5.1
aenum~=3.0.0
boto3~=1.17.12
python-dotenv~=0.15.0
s3fs~=0.4.2
cloudpickle~=1.6.0
